<!DOCTYPE html>
<html>

<head>
	<title> Indian Badminton Club Arnhem </title>
	<%- include ('head') %>
</head>

<body>

	<%- include ('navbar') %>

		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<img src="/icons/BadmintonCourt.JPG" class="img-responsive hero-banner" alt="Badminton Court Banner" />
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 text-center section-spacing">
					<a href="/members" class="btn btn-primary home-action-btn">Members</a>
					<a href="/attendance" class="btn btn-primary home-action-btn">Attendance</a>
				</div>
			</div>
		</div>
</body>

</html>